<div class="card">
    <card-body>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet delectus asperiores iure nostrum corrupti repellendus at ipsum minus. Et cupiditate soluta necessitatibus architecto, magnam esse ex sapiente, saepe fugit explicabo dolore libero est? Vel delectus reiciendis animi voluptas, fugit beatae?</p>
    </card-body>
</div>