<div class="jumbotron-mt-4">
    <h1 class="display-4">Notes App Node js and Mongo DB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo et ab alias fugiat repudiandae laboriosam doloremque laborum, odit accusantium molestiae maiores itaque voluptatem quis rem libero mollitia, animi id facere?</p>
    <a href="" class="btn btn-primary btn-lg">My Web</a>
</div>